* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: 0;
  border: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: rgb(197, 108, 209);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  span {
    display: block;
    margin-bottom: 20px;
    font-size: 70px;
  }
  .btn {
    padding: 7px 13px;

    text-transform: uppercase;
    background: transparent;
    border: 3px solid rgb(70, 13, 70);
    border-radius: 7px;
    letter-spacing: 1px;
    margin-right: 10px;
    cursor: pointer;
  }
}
